
:root {
    --colorPrimary1: #e6f7ff;    
    --colorPrimary2: #bae7ff;    
    --colorPrimary3: #91d5ff;    
    --colorPrimary4: #69c0ff;    
    --colorPrimary5: #40a9ff;    
    --colorPrimary6: #1890ff;    
    --colorPrimary7: #096dd9;    
    --colorPrimary10: #002766;    
    --colorNeutral1: #ffffff;    
    --colorNeutral2: #fafafa;    
    --colorNeutral3: #f5f5f5;    
    --colorNeutral4: #f0f0f0;    
    --colorNeutral5: #d9d9d9;    
    --colorNeutral6: #bfbfbf;    
    --colorNeutral7: #8c8c8c;    
    --colorNeutral9: #434343;    
    --colorNeutral10: #262626;    
    --colorNeutral13: #000000;    
    --colorDaybreakBlue1: #e6f7ff;    
    --colorDaybreakBlue2: #bae7ff;    
    --colorDaybreakBlue3: #91d5ff;    
    --colorDaybreakBlue4: #69c0ff;    
    --colorDaybreakBlue5: #40a9ff;    
    --colorDaybreakBlue6: #1890ff;    
    --colorDaybreakBlue7: #096dd9;    
    --colorDaybreakBlue8: #0050b3;    
    --colorDaybreakBlue9: #003a8c;    
    --colorDaybreakBlue10: #002766;    
    /* Dust Red（薄暮）FFF1F0 */
    --colorDustRed1: #fff1f0;    
    /* Dust Red（薄暮）FFCCC7 */
    --colorDustRed2: #ffccc7;    
    /* Dust Red（薄暮）FFA39E */
    --colorDustRed3: #ffa39e;    
    /* Dust Red（薄暮）FF7875 */
    --colorDustRed4: #ff7875;    
    /* Dust Red（薄暮）FF4D4F */
    --colorDustRed5: #ff4d4f;    
    /* Dust Red（薄暮）F5222D */
    --colorDustRed6: #f5222d;    
    /* Dust Red（薄暮）CF1322 */
    --colorDustRed7: #cf1322;    
    /* Dust Red（薄暮）A8071A */
    --colorDustRed8: #a8071a;    
    /* Dust Red（薄暮）820014 */
    --colorDustRed9: #820014;    
    /* Dust Red（薄暮）5C0011 */
    --colorDustRed10: #5c0011;    
    --colorVolcano1: #fff2e8;    
    --colorVolcano2: #ffd8bf;    
    --colorVolcano3: #ffbb96;    
    --colorVolcano4: #ff9c6e;    
    --colorVolcano5: #ff7a45;    
    --colorVolcano6: #fa541c;    
    --colorVolcano7: #d4380d;    
    --colorVolcano8: #ad2102;    
    --colorVolcano9: #871400;    
    --colorVolcano10: #610b00;    
    --colorSunsetOrange1: #fff7e6;    
    --colorSunsetOrange2: #ffe7ba;    
    --colorSunsetOrange3: #ffd591;    
    --colorSunsetOrange4: #ffc069;    
    --colorSunsetOrange5: #ffa940;    
    --colorSunsetOrange6: #fa8c16;    
    --colorSunsetOrange7: #d46b08;    
    --colorSunsetOrange8: #ad4e00;    
    --colorSunsetOrange9: #873800;    
    --colorSunsetOrange10: #612500;    
    --colorCalendulaGold1: #fffbe6;    
    --colorCalendulaGold2: #fff1b8;    
    --colorCalendulaGold3: #ffe58f;    
    --colorCalendulaGold4: #ffd666;    
    --colorCalendulaGold5: #ffc53d;    
    --colorCalendulaGold6: #faad14;    
    --colorCalendulaGold7: #d48806;    
    --colorCalendulaGold8: #ad6800;    
    --colorCalendulaGold9: #874d00;    
    --colorCalendulaGold10: #613400;    
    --colorSunriseYellow1: #feffe6;    
    --colorSunriseYellow2: #ffffb8;    
    --colorSunriseYellow3: #fffb8f;    
    --colorSunriseYellow4: #fff566;    
    --colorSunriseYellow5: #ffec3d;    
    --colorSunriseYellow6: #fadb14;    
    --colorSunriseYellow7: #d4b106;    
    --colorSunriseYellow8: #ad8b00;    
    --colorSunriseYellow9: #876800;    
    --colorSunriseYellow10: #614700;    
    --colorLime1: #fcffe6;    
    --colorLime2: #f4ffb8;    
    --colorLime3: #eaff8f;    
    --colorLime4: #d3f261;    
    --colorLime5: #bae637;    
    --colorLime6: #a0d911;    
    --colorLime7: #7cb305;    
    --colorLime8: #5b8c00;    
    --colorLime9: #3f6600;    
    --colorLime10: #254000;    
    --colorPolarGreen1: #f6ffed;    
    --colorPolarGreen2: #d9f7be;    
    --colorPolarGreen3: #b7eb8f;    
    --colorPolarGreen4: #95de64;    
    --colorPolarGreen5: #73d13d;    
    --colorPolarGreen6: #52c41a;    
    --colorPolarGreen7: #389e0d;    
    --colorPolarGreen8: #237804;    
    --colorPolarGreen9: #135200;    
    --colorPolarGreen10: #092b00;    
    --colorCyan1: #e6fffb;    
    --colorCyan2: #b5f5ec;    
    --colorCyan3: #87e8de;    
    --colorCyan4: #5cdbd3;    
    --colorCyan5: #36cfc9;    
    --colorCyan6: #13c2c2;    
    --colorCyan7: #08979c;    
    --colorCyan8: #006d75;    
    --colorCyan9: #00474f;    
    --colorCyan10: #002329;    
    --colorGeekBlue1: #f0f5ff;    
    --colorGeekBlue2: #d6e4ff;    
    --colorGeekBlue3: #adc6ff;    
    --colorGeekBlue4: #85a5ff;    
    --colorGeekBlue5: #597ef7;    
    --colorGeekBlue6: #2f54eb;    
    --colorGeekBlue7: #1d39c4;    
    --colorGeekBlue8: #10239e;    
    --colorGeekBlue9: #061178;    
    --colorGeekBlue10: #030852;    
    --colorGoldenPurple1: #f9f0ff;    
    --colorGoldenPurple2: #efdbff;    
    --colorGoldenPurple3: #d3adf7;    
    --colorGoldenPurple4: #b37feb;    
    --colorGoldenPurple5: #9254de;    
    --colorGoldenPurple6: #722ed1;    
    --colorGoldenPurple7: #531dab;    
    --colorGoldenPurple8: #391085;    
    --colorGoldenPurple9: #22075e;    
    --colorGoldenPurple10: #120338;    
    --colorMagenta1: #fff0f6;    
    --colorMagenta2: #ffd6e7;    
    --colorMagenta3: #ffadd2;    
    --colorMagenta4: #ff85c0;    
    --colorMagenta5: #f759ab;    
    --colorMagenta6: #eb2f96;    
    --colorMagenta7: #c41d7f;    
    --colorMagenta8: #9e1068;    
    --colorMagenta9: #780650;    
    --colorMagenta10: #520339;    
    --colorCharacterPrimaryInverse_: #ffffff;    
    --colorCharacterTitle85: #000000d9;    
    --colorCharacterPrimary85: #000000d9;    
    --colorCharacterSecondary45: #00000073;    
    --colorCharacterDisabledPlaceholder25: #00000040;    
    --colorCharacterMark: #000000;    
    --colorCharacterDanger: #ff4d4f;    
    --colorCharacterWarning: #faad14;    
    --colorCharacterSuccess: #52c41a;    
    --colorConditionalPopOver: #ffffff;    
    --colorConditionalItemBackgroundHover: #f5f5f5;    
    --colorConditionalDivider: #0000000f;    
    --colorConditionalPageBackground: #f0f2f5;    
    --colorConditionalTableColumnSort: #fafafa;    
    --colorConditionalHeaderBackground: #ffffff;    
    --colorConditionalSiderBackground: #ffffff;    
    --colorConditionalMenuItemBackgroundSelected: #e6f7ff;    
    --colorConditionalMenuItemTextSelected: #1890ff;    
    --colorHitbox: #ffffff00;    
    --colorConditionalTableFilterTriggerHover: #0000000a;    
}